.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.image-display img {
  width: 220px;
  height: 220px;
  border-radius: 10px; /* Make the edges rounded */
  margin-top: 10px;
}


.uniqueracinglogo {
  display: block;
  margin-top: 20px; /* Adjust this value to move the image further down */
  margin-bottom: 250px; /* Optional: add space below the image */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  max-width: 400px;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.modal-title {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}

.modal-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-item {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
}

.form-error {
  color: red;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
}

button {
  font-size: 40px; /* Large font size */
  font-weight: bold; /* Bold text */
  background: linear-gradient(45deg, #ffffff, #4ea0d3, #2e8cb3); /* Blue gradient */
  -webkit-background-clip: text; /* For Safari and Chrome */
  -webkit-text-fill-color: transparent; /* For Safari and Chrome */
  background-clip: text; /* Standard syntax */
  color: transparent; /* Standard syntax */
  text-align: center; /* Center the text */
  position: relative;
  top: 50px;
  margin: 15px 0;
  text-shadow: 0 0 10px rgba(111, 189, 243, 0.8), 
               0 0 20px rgba(111, 189, 243, 0.6), 
               0 0 30px rgba(111, 189, 243, 0.4); /* Glowing effect */

              }
.menu {
  display: none; /* Hide the menu by default */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 150px; /* Adjust the position as needed */
  width: 200px; /* Adjust the width as needed */
}

button.close {
  background: none;
  border: none;
  padding: 0;

}

button.close::after {
  content: '✕';
  font-size: large;
  color: rgb(103, 103, 188);
  cursor: pointer;
}
button.close:hover::after {
  color: cornflowerblue;
}

.top-bar {
  display: flex;
  padding: 16px;
}

.list-container {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px;
}

.list-item {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid lightblue;
  padding-bottom: 8px;
}

.list-item>span {
  padding: 8px 0;
}

.list-item>span:first-child {
  width: 100px;
}

.list-item>span:nth-child(2) {
  width: 100px;
  text-align: start;
}

.list-item>span:nth-child(3) {
  flex-grow: 1;
  text-align: start;
}

/* changes  */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.connect-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

}

.columns {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uniquerace {
  font-size: 80px; /* Large font size */
  font-weight: bold; /* Bold text */
  background: linear-gradient(45deg, #ffffff, #4ea0d3, #2e8cb3); /* Blue gradient */
  -webkit-background-clip: text; /* For Safari and Chrome */
  -webkit-text-fill-color: transparent; /* For Safari and Chrome */
  background-clip: text; /* Standard syntax */
  color: transparent; /* Standard syntax */
  text-align: center; /* Center the text */
  text-shadow: 0 0 10px rgba(111, 189, 243, 0.8), 
               0 0 20px rgba(111, 189, 243, 0.6), 
               0 0 30px rgba(111, 189, 243, 0.4); /* Glowing effect */
}

.uniqueracemini {
    font-size: 40px; /* Large font size */
    font-weight: bold; /* Bold text */
    background: linear-gradient(45deg, #ffffff, #4ea0d3, #2e8cb3); /* Blue gradient */
    -webkit-background-clip: text; /* For Safari and Chrome */
    -webkit-text-fill-color: transparent; /* For Safari and Chrome */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Standard syntax */
    text-align: center; /* Center the text */
    text-shadow: 0 0 10px rgba(111, 189, 243, 0.8), 
                 0 0 20px rgba(111, 189, 243, 0.6), 
                 0 0 30px rgba(111, 189, 243, 0.4); /* Glowing effect */
  }
  .uniqueraceminimini {
    font-size: 20px; /* Large font size */
    font-weight: bold; /* Bold text */
    background: linear-gradient(45deg, #ffffff, #4ea0d3, #2e8cb3); /* Blue gradient */
    -webkit-background-clip: text; /* For Safari and Chrome */
    -webkit-text-fill-color: transparent; /* For Safari and Chrome */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Standard syntax */
    text-align: center; /* Center the text */
    text-shadow: 0 0 10px rgba(111, 189, 243, 0.8), 
                 0 0 20px rgba(111, 189, 243, 0.6), 
                 0 0 30px rgba(111, 189, 243, 0.4); /* Glowing effect */
  }

  .white-box {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 300px;
    text-align: center;
    width: 300px; /* Added width */
    height: 300px; /* Adjusted height to make the box bigger */
    margin: 90px;
  }

  .nft-box {
    font-size: 40px; /* Large font size */
    font-weight: bold; /* Bold text */
    background: linear-gradient(45deg, #ffffff, #4ea0d3, #2e8cb3); /* Blue gradient */
    -webkit-background-clip: text; /* For Safari and Chrome */
    -webkit-text-fill-color: transparent; /* For Safari and Chrome */
    background-clip: text; /* Standard syntax */
    color: transparent; /* Standard syntax */
    text-align: center; /* Center the text */
    position: relative;
    width: 300px;
    height: 300px;
    top: 50px;
    margin: 30px 0;
    text-shadow: 0 0 10px rgba(111, 189, 243, 0.8), 
                 0 0 20px rgba(111, 189, 243, 0.6), 
                 0 0 30px rgba(111, 189, 243, 0.4); /* Glowing effect */
  
  }

.top-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-input {
  width: calc(100% - 40px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}