body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root{
  height: 100vh;
  width: 100vw;
  background-color: #191714;
}

button {
  background: linear-gradient(45deg, #6fbdf3, #4ea0d3, #2e8cb3); /* Blue gradient matching the image */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 20px 40px; /* Increase padding for a bigger button */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get the element to line up horizontally */
  font-size: 20px; /* Increase font size */
  margin: 10px 5px; /* Increase margin */
  cursor: pointer; /* Pointer/hand icon */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow */
  outline: none; /* Remove outline */
  box-shadow: 0 0 20px rgba(111, 189, 243, 0.7); /* Default glow effect */
  border-radius: 12px;
}


button:hover {
  box-shadow: 0 0 30px rgba(111, 189, 243, 1); /* Stronger glow on hover */
}

button:focus {
  outline: none; /* Ensure no outline on focus */
}


.logo{
  background-color: #4CAF50;
  width: 100px;
  height: 100px;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect-bar{
  position: fixed;
  bottom: 2vh;
  right: 3vw;
}


.play-button{
  position: fixed;
  bottom: 2vh;
  
}
